.jq-icon-warning{background: #f7b84b;}
.jq-icon-error{background: #f1556c;}
.jq-icon-info{background: #37cde6;}
.jq-icon-success{background: #1abc9c;}
.swal-button:focus{box-shadow: none;border: none;}
.table td,
.table th {vertical-align:middle;}
.app-file-upload-btn .layui-upload-file{opacity: 0;display: none;}
.font-weight-normal{font-weight: normal !important;}

.app-system-img{width: 100px;position: relative;}
.app-system-img img{width: 100% !important;height: auto;display: none;}
.btn-hide{display: none;}
.app-system-img i{position: absolute;width: 26px;height: 26px;background: #f1556c;color: #fff;border-radius: 100px;text-align: center;line-height: 22px;cursor: pointer;right: -15px;top: -15px;display: none;border: 3px solid #fff;font-size: 10px;}

.imgs_item_box{width: 100px;height: 110px;position: relative;margin-top: 15px;float: left;margin-right: 20px;border: 1px solid #eee;}
.imgs_item_box img{width: 100%;height: 100%;}
.imgs_item_box i{position: absolute;width: 18px;height: 18px;border-radius: 100px;background: #f9897d;right: -9px;top: -9px;border: 2px solid #ffffff;box-shadow: 0 0 5px rgba(0,0,0,0.4);cursor: pointer;color: #fff;line-height: 18px;text-align: center;font-size: 10px !important;}
